
body{
  
    padding-top: 25px;
}
@media (max-width: 768px) {
  .custom-class {
      font-size: 14px;
  }
}
  .jumbotron
  {
      background-color: #ffff;
      padding-left: 90px;
      padding-top: 100px;
  }
  .jumbotron.lead
  {
    font-weight: lighter; 
    color: #000000;
    opacity: 70%;
  }
  .background-header
  {
    background-image: url("assets/image/landing.png");
    background-color: #fafbfc;
    height: 500px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
  }
  .navbar-brand
  {
    padding-left: 90px;
  }
  .navbar-nav
  {
    justify-items: auto;
  }
  .d-flex
  {
    padding-right: 50px;
  }
  .service-style
  {
    margin-top: 50px;
    color: #219BC0;
  }
  .card
  {
    padding-top: 10px;
    margin-bottom: 20px;
    text-align:justify;
  }
  .fa-solid
  {
    color: #219BC0;
  }
  .text-setting
  {
    color: #219BC0;
  }
  h2:before, h2:after{
    background-color: #219BC0;
    content: "";
    display: inline-block;
    height: 1px;
    position: relative;
    vertical-align: middle;
    width: 20%;
  }
  h2::before{
    right: 0.5rem;
    margin-left: -50%;
  }
  h2::after{
    left: 0.5rem;
    margin-right: -50%;
  }
  .container
  {
    padding-top: 56px;
  }
  
