
    body {
    margin: 0;
    }
        .text-primer
    {
        color:#219BC0;
        padding-left:300px;
    }
    .table-bordered
    {
        margin-left:300px;
    }
    .teks
    {
        margin-left:300px;
    }